h1::first-letter {
  color: #00796b;
  font-size: 3em;
}

h1:hover::first-letter {
  color: #4fc3f7;
}

ul li {
  font-size: 30px;
}

ul li::marker {
  content: "";
}

ul li:nth-of-type(1)::before,
ul li:nth-of-type(2)::before {
  content: url(./check.png);
}

ul li:nth-of-type(3)::before,
ul li:nth-of-type(4)::before {
  content: url(./doing.png);
}

ul li:nth-of-type(5)::before,
ul li:nth-of-type(6)::before {
  content: url(./no.png);
}

ul li:nth-of-type(1)::after {
  content: url(./gym.png);
}

ul li:nth-of-type(2)::after {
  content: url(./bill.png);
}

ul li:nth-of-type(3)::after {
  content: url(./dance.png);
}

ul li:nth-of-type(4)::after {
  content: url(./eat.png);
}

ul li:nth-of-type(5)::after {
  content: url(./book.png);
}

ul li:nth-of-type(6)::after {
  content: url(./organize.png);
}

ul li:nth-of-type(1),
ul li:nth-of-type(2) {
  text-decoration: line-through;
}

ul li:nth-of-type(5),
ul li:nth-of-type(6) {
  text-decoration: underline;
}
