* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-height: 70%;
}

h1 {
  margin: 0 0 20px 0;
}

section {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

article {
  width: 40%;
  height: 150px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transform: rotateX(-15deg) rotateY(-15deg);
  transition: all 0.6s;
}

article:nth-of-type(1) {
  background-color: rgba(104, 104, 255, 0.9);
  margin: 0 0 -30px 0;
  z-index: 2;
}

article:nth-of-type(2) {
  background-color: rgba(255, 255, 137, 0.9);
  margin: 0 0 -30px 0;
  z-index: 1;
}

article:nth-of-type(3) {
  background-color: rgba(255, 165, 165, 0.9);
  z-index: 0;
}

article:nth-of-type(1):hover {
  z-index: 2;
  background-color: rgba(104, 104, 255, 1);
  transform: rotate(1deg);
}

article:nth-of-type(2):hover {
  z-index: 3;
  background-color: rgba(255, 255, 137, 1);
  transform: rotate(1deg);
}

article:nth-of-type(3):hover {
  z-index: 3;
  background-color: rgba(255, 165, 165, 1);
  transform: rotate(1deg);
}
