@font-face {
    font-family: Merriweather;
    src: url(./Merriweather-Regular.ttf);
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

h1,
h2,
p{
    font-family: "Merriweather";
}

h1{
    font-size: 2rem;
    text-shadow: 3px 3px 10px rgb(53, 53, 53);
    color: white;
    border-radius: 5rem;
    background-color: rgba(38, 38, 38, 0.5);
    text-align: center;
    height: 10vh;
    margin: 0 100px 50px 100px;
    padding: 2vh 0;
}

h2{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 6vh;
}

p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 6vh;
}

section{
    background: url(./rohit-tandon-9wg5jCEPBsw-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding: 5%;
}

article{
    padding: 2%;
    margin: 0 100px;
    border-radius: 5rem;
    background-color: rgba(246, 246, 246, 0.5);
}


