section {
    height: 75px;
    background-color: #333;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: white;
    text-align: center;
}

p{
    color: #333;
    font-size: 20px;
}

li{
    color: #777;
    font-size: 20px;
}

ul li:first-child{
    text-decoration:overline;
}

ul li:nth-child(2){
    text-decoration:line-through;
    text-align: center;
}

ul li:last-child{
    text-decoration:underline;
    text-align: right;
}